.gradient-effect {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}

/* 클래스 모듈. 클래스 유틸리티 */
.accent-color {
  color: #e85e2c;
}

.text-xl {
  font-size: 1.5rem;
  font-weight: 700;
}

.margin-top-default {
  margin-top: 20px;
}

.margin-top-thin {
  margin-top: 5px;
}

.margin-top-normal {
  margin-top: 10px;
}

.margin-top-large {
  margin-top: 15px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}