@import url(./normalize.css);
@import url(./reset.css);
body {
  background: #ffc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
}

.header {
  background: pink;
}

.visual {
  background: orange;
}

.main {
  background: lightgreen;
}

.slogan {
  background: skyblue;
}

.footer {
  background: gray;
}