@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  color: #212121;
  font-size: 1.4rem;
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}

.member {
  background-color: pink;
}

/* 비주얼 */
.visual {
  height: 120px;
}
/* 메인 */
.main {
  background: #fff;
  min-height: 450px;
  display: flow-root;
  padding: 30px 15px;
}

.group {
  float: left;
  margin: 0 15px;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}

/* 신규 이벤트 및 관련 사이트 */
.gradient-effect {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
}

.text-xl {
  font-size: 1.5rem;
  font-weight: 700;
}

.accent-color {
  color: #a52a2a;
}

.margin-top-default {
  margin-top: 20px;
}

.event {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
}

.event-button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 5px;
}

.event-button {
  width: 19px;
  border: 0;
  height: 18px;
  padding: 0;
  background: aqua url("./images/back_forward.png") no-repeat;
}

.event-button-next {
  background-position: 100% 0;
}

.event-thumbnail,
.event-brief {
  margin: 10px 0;
}

.event-thumbnail img {
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #ccc;
}

.related {
  margin-top: 10px;
}

/* 인기 사이트 */

/* 슬로건 */
.slogan {
  background: skyblue;
  clear: both;
}
/* 푸터 */
.footer {
  background: gray;
}
.footer-inner {
  background: silver;
}