/* CSS는 무조건 전역이라서 값이 오염되기 쉽고, 작성 순서가 중요함 */
/* 일단 평균화하고 일괄 reset한다. normalize 후에 reset한다. */
/* 크로미움으로 통일되고 있는 추세라서(파이어폭스 빼고 다 크로미움 웹킷 기반) normalize.css도 잘 안 쓰는 추세 */
@import url(./fontello.css);
@import url(./normalize.css);
@import url(./reset.css);
@import url(./module.css);

/* 숨김 콘텐츠 */
.a11y-hidden, legend {
  position: absolute;
  /* 스크롤 위로 올라오는 이슈 */
  /* top: -9999em; */
  /* width: 0; height: 0; font-size:0; color: transparent; => 스크린 리더에서 못 읽음 opacity: 0; => 모바일에서 못 읽음 */
  width: 1px;
  height: 1px;
  margin: -1px;
  /* 다양한 브라우저에서도 적용되도록 한 번 더 같은 효과를 내는 속성(overflow: hidden;) 작성  */
  overflow: hidden;
  clip: rect(0 0 0 0);
  /* clip-path: polygon(0 0, 0 0, 0 0); */
  /* clip-path: inset(50%); */
}

/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box; /* content-box(기본값): width + padding + border + margin을 계산해서 차지한다. border-box 선택 이유: 다양한 모바일 환경을 위해(100%일 때 padding이 포함된 값이므로 좌우 스크롤이 발생하지 않음) // box model 관련 학습할 것*/
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  color: #212121;
  /* em(부모로부터 상속), rem(root 즉 html태그 기준) 단위를 사용해보기(반응형) */
  font-size: 1.4rem;
  /* 모바일 환경 가독성을 위해 sans(부정 접두사)-serif(날카롭다.삐침)체를 사용하는 추세 */
  /* 대부분의 환경에서 깨지지 않고 예쁘게 보여서 요즘 핫한 폰트인 프리텐다드 */
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* font-weight: 400; (기본값) */
  /* 마지막 인자가 아래로 쌓임 */
  /* background-image: url(./images/bg_flower.png), linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0; */
  /* 기본값 background-attachment: scroll; fixed: 컨텐츠가 떠있는 것처럼 보임 */
  /* background-attachment: fixed; */
  background: url(./images/bg_flower.png) no-repeat 50% 0,
  #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%) repeat 0 0;
}

/* 레이아웃(선택자 그루핑) */
/* 태그 선택자를 많이쓰면 나중에 태그들끼리 겹치므로 가급적이면 태그 선택자가 아니라 클래스 선택자 사용할 것 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto; /* 이동한 게 아니다. 상자의 크기가, 투명한 margin이 커진 것이다. 0 0 0 auto를 통해 오른쪽 정렬 효과를 만들 수 있다(자식 요소가 필요한, 방향이 필요한 flex보다 단순하다.) */ 
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px; /* shorthand 표기법*/
  /* border-radius: 0 0 15px 15px / 0 0 50px 50px; */
  border-radius: 0 0 15px 15px;
  /* 끝 없이 찾아나가는 .logo의 기준점을 바로 위 태그에서 잡아주기 위한 속성 설정. static(기본값)만 아니면 됨. normal flow를 유지하면서 살짝 띄워서 움직일 수 있게 됨. */
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  /* .menu의 position: relative;로 인한 로고 가림 해결 */
  z-index: 10;
}
/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  /* 공백(개행, tab counts 등의 빈 노드가 차지하는 공간) 지우는 기법1: html에서 </li>가 아닌 </li 까지만 작성 후 닫는 태그(>)를 다음 줄로 옮김. 꼼수. */
  /* 공백 지우는 기법2: 부모에 {font-size:0} 후 자식 요소에 다시 글꼴을 키움 {font-size: 16px} */
  /* font-size: 0; */
  /* position 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기(reflow 유발) */
  /* position: relative;
  right: -10px; */
  /* transform 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  transform: translate(10px);
}
.member li {
  /* display: inline-block; -> 모양은 inline 속성은 block처럼 줄 수 있음 */
  display: inline-block;
  /* font-size: 16px; */
}
.member a {
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a 요소를 선택하여 오른쪽 padding 값을 0으로 재정의 하는 방법 */
/* .member li:last-child a {
  padding-right: 0;
} */

.divider {
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}

.menu {
  border-top: 2px solid currentColor;
  /* backgroud image: background color를 덮음 */
  background: #e85e2c
    linear-gradient(
      to bottom,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%
    );
  border-radius: 0 0 5px 5px;
  /* display: flow-root; */
  padding-left: 230px;
  height: 47px;
  position: relative;
}

.menu > li:nth-child(-n + 3) {
  position: relative;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
}

/* 구체성 -> 10점 */
.menu-button {
  border: 0;
  /* border보다 아래에 작성 */
  background: transparent;
  padding: 0 23px;
  /* 한 줄의 높이를 45px로 */
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  /* 경계선도 클릭 가능 */
  /* border-left: 2px solid #fff; */
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

.is-active .menu-button::after {
  /* .menu-button에 line-height가 없을 시 HTML에 대해 바로 밑에 그려짐; */
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu {
  /* position: absolute 주면 BFC 생성되어 자식을 데리고 뜨면서 pink가 보임 */
  position: absolute;
  top: 47px;
  display: none;
  /* left: 0; */
  padding: 4px 0;
}

.menu-html, .menu-css, .menu-standards {
  left: 0;
}

.menu-accessibility, .menu-qna, .menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
  padding-left: 1em;
}

.sub-menu a::before {  
  content: "\e805";
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before, .sub-menu a:focus::before {
  content: "\e801";
}

.sub-menu a {
  display: inline-block;
  padding: 6px 0;
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: #f00;
}

/* 비주얼 */
/* keyframes (이름 선언) */
/* at sign rule: 선언할 때 사용. 맨 밑줄에 선언해도 됨 */
@keyframes moveEffect {
  0%{
    font-size: 12px;
    /* transform: scale() -> 원본보다 커질 때 해상도 이슈 있음 */
    /* transform: scale(0.5); */
    color: hsla(0, 0%, 0%, 0);
    /* padding: 0; */
    /* top: 0;
    left: 0; */
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    color: hsla(0, 0%, 0%, 1);
    /* transform: scale(1); */
    /* color: rgba(0,0,0,1); */
    /* padding: 75px 0 0 400px; */
    /* top: 75px;
    left: 400px; */
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  /* background: orange; */
  height: 120px;
  position: relative;
}

.visual::before, .visual::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* animation-name: fadeEffect;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: fadeEffect 2000ms infinite alternate;
}

.visual::before {
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px,
  url(./images/ani_flower_02.png) no-repeat 600px 0;
}

.visual::after {
  background: url(./images/ani_flower_03.png) no-repeat 300px 0,
  url(./images/ani_flower_04.png) no-repeat 800px 0;
  animation-delay: 1000ms;
}

.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* animation-name: moveEffect; */
  /* animation-duration: 400ms; */
  /* animation-timing-function: ease-in-out; */
  /* 애니메이션이 멈출 때 끝날 때의 상황으로 멈춤 */
  /* animation-fill-mode: forwards; */
  animation: moveEffect 400ms ease-in-out forwards;
  /* transform: scale() */
  /* font-size: 24px; */
  /* transform-origin: left top; */
  /* background-color: aqua; */
  /* display: inline-block; */
  position: relative;
  z-index: 1;
}

/* 메인 */
.main {
  background: #fff;
  min-height: 450px;
  /* overflow: hidden, 가상 요소 선택자는 trick임. 정석은 flow-root */
  display: flow-root; /* 단점: 지원되는 브라우저가 적음 */
  /* overflow: hidden; */ /* 독립적인 블록 요소가 됨. width, height를 넘어가는 자식이 있을 때의 처리 방법에 대한 속성이므로, 정신차리고 자식 요소의 크기에 대해 계산함. BFC와 IFC에 대해 공부할 것 */
  /* position: absolute 또는 float 을 주면 block 요소가 된다. display: inline-block으로 줘도 여전히 block 요소이다. */
  /* zoom: 1; */ /* overflow: hidden이 IE6에서 지원 안해서 IE6을 위한 수단. BFC */
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}
/* 배경이미지, 가상 요소 선택자는 ctrl+a로 블록 잡아도 안 잡힘 */
/* 
main::before {
  content: "첫 번째 자식 요소입니다.";
}
 */
/*
.main::after{
  content: "";
  clear: both;
  display: block;
}
*/
/* 가로 배치법 종류: 1. position 2. float 3. display: inline-block 4. display: flex 5. display: grid 다섯 가지 방법 모두 써보고 효율적인 것을 경우에 맞게 선택할 수 있도록 할 것 */
.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
   /* 기본값 static */
  /*
   position: relative;
  offset: -100px;
  */
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}

/* 로그인 영역 */
.login {
  box-shadow: 5px 5px 0 0 #ccc;
  background: orangered radial-gradient(circle at right top, orange, orangered);
  padding: 10px;
  border-radius: 5px;
}
.login-title {
  color: #ff0;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 10px;
}

.login-form {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  /* .login-button: absolute의 기준점 */
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}
.user-email, .user-pw {
  margin-bottom: 5px;
}

.login-form label {
  display: inline-block;
  width: 4em;
}

.login-form input {
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  border-radius: 3px;
}

.login-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 53px;
  background-color: orangered;
  color: #fff;
  border: 0;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 13px;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  /* 가로 배치: d: flex / float: left / d:inline-block 세 가지 버전  */
  /* 부모가 flex면 자식은 inline, block이 아니라 flex-item이 됨 */
  display: flex;
  /* row 방향, 줄 바꿈 불허. 안 써도 되지만 명확하게 이해하기 위해 */
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* float 방식. .sign {overflow: hidden;}도 가능 */
/* .sign {
  display: flow-root;
}

.sign li:first-child {
  float: left;
}

.sign li:last-child {
  float: right;
} */

/* inline-block 방식. 공백 문자 해결을 위해 li 요소 상위에 font-size: 0; 주고 글자 들어가는 부분부터 다시 폰트 사이즈 복원 */
/* .sign {
  font-size: 0;
}

.sign li {
  display: inline-block;
  font-size: 14px;
}

.sign li:first-child {
  width: 35%;
}

.sign li:last-child {
  width: 65%;
  text-align: right;
} */

.sign a {
  /* padding을 주기 위해 display: block; */
  display: block;
  padding: 6px 0;
  letter-spacing: -1px;
}

.sign a:before {
  content: "\e804";
  font-family: 'fontello';
  margin-right: 8px;
  color: orangered;
}

/* 유효성 검사 배너 */
.validation-list {
  margin-top: 25px;
}

.validation-list li {
  margin-top: 10px;
}

.validation-list a {
  display: block;
  background: url(./images/validation_icon.png) no-repeat 20px 50%, #ccc linear-gradient(to bottom, #ccc 0%, #eee 100%);
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 10px 10px 10px 40px;
}

/* before를 이용한 방법. vertical-align은 인라인, 인라인 블록 요소 속성
.validation-list a::before {
  content: url("./images/validation_icon.png");
  background-color: skyblue;
  vertical-align: middle;
} */

.validation-list a:hover, .validation-list a:focus {
  color: #f00;
}

/* 웹 관련 용어 */
/* #ccc -> #eee #aaa #296897 */
.term {
  margin-top: 20px;
  border: 1px solid #aaa;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border-radius: 5px;
  padding: 10px 15px;
}

.term-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.term-list {
  margin-top: 10px;
}

/* .term-list와 마진 병합 */
.term-list div {
  margin-top: 10px;
  display: flow-root;
}

.term-list-subject, .term-list-brief {
  float: right;
  /* float을 주는 순간 크기가 글자 내용만큼 줄어드므로 재지정 */
  width: 145px;
}

.term-list-subject {
  color: #296897;
  font-weight: 500;
}

.term-list-thumbnail {
  float: left;
}

.term-list-thumbnail img {
  vertical-align: middle;
}

.term-list-brief {
  margin-top: 5px;
  line-height: 1.5;
}

.cross .term-list-subject, .cross .term-list-brief {
  float: left;
  width: 145px;
}

.cross .term-list-thumbnail {
  float: right;
}


/* 검색 폼 */
.search-form {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 15px 15px 0 0;
  /* 위 15px 좌우 25px 아래 10px */
  padding: 15px 25px 10px;
}

.search-form-inner {
  /* background-color: yellow; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.form-group {
  /* background-color: pink; */
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 10px;
}

.form-group-label {
  /* white-space: nowrap; 또는 flex-shirink: 0;으로 축소되지 않게 */
  flex-shrink: 0;
  margin-right: 10px;
  /* background-color: lime; */
}

.form-group-input {
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  padding: 1px 1px 1px 5px;
  flex-grow: 1;
  /* 파이어폭스 해결용. 파이어폭스는 input의 min-width값이 있다. */
  min-width: 0;
  width: 100%;
}

.search-button {
  /* white-space: nowrap; */
  flex-shrink: 0;
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  border: 0;
  height: 24px;
  padding: 0 10px;
  font-size: 1.2rem;
}

/* 공지사항 및 자료실 */
.board {
  margin-top: 20px;
  position: relative;
}

.tab-list {
  /* 공백문자를 font-size: 0; 으로도 해결 가능 */
  display: flex;
  flex-flow: row nowrap;
}

.tab {
  border: 1px solid #aaa;
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  color: #666;
}

.is-select.tab {
  background-color: #fff;
  color: #e85e2c;
  border-color: currentColor currentColor #fff currentColor;
}

/* 일단 tab-panel d:none; 후 선택된 태그 d:block; 처리 */
.tab-panel {
  display: none;
  margin-top: 15px;
}

.is-select.tab-panel {
  display: block;
}

.board-list li {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.board-list a {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.board-list time {
  flex-shrink: 0;
  margin-left: 10px;
}

.board-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

.icon-plus::before {
  color: hsla(110, 50%, 30%, 1);
}

/* 새소식 */
.news {
  margin-top: 20px;
  position: relative;
}

.news-title {
  /* color: #e85e2c; */
  font-size: 1.5rem;
  font-weight: 700;
}

.news::before {
  content: "";
  /* position: absolute;를 통해 display: block이 됨 */
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(to right, #ccc, #fff);
}

.news-link {
  display: block;
}

.news-item {
  margin-top: 35px;
  /* h3, time, p태그가 오른쪽으로 밀려가게 */
  padding-left: 130px;
  position: relative;
}

.news-item-title {
  font-weight: 500;
}

.news-item-date {
  display: block;
  margin: 5px 0 10px;
}

.news-item-brief {
  line-height: 1.5;
}

.news-item-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.news-item-thumbnail img {
  box-shadow: 0 15px 10px 5px #ccc;
  margin-bottom: 15px;
}

.news-more {
  position: absolute;
  /* 클릭할 수 있는 영역이 늘어남 */
  top: -8px;
  right: -8px;
  padding: 8px;
}

/* 신규 이벤트 및 관련 사이트 */
.event {
  border-bottom: 1px solid #aaa;
}

.event-title {
  display: inline-block;
}

.event-button-wrapper {
  /* 폼 요소라서 크롬, 사파리, 오페라 다르게 보임. 크롬/사파리/오페라 세 브라우저에서 점검하며 만들 것 */
  height: 20px;
  overflow: hidden;
  /* descenders 영역 제거 */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
  float: right;
}

/* IR(image replacement) 기법. 텍스트가 안 보이고 대신 배경 이미가 보이게 하는 패턴 */
/* button은 인라인 블록 */
.event-button {
  width: 19px;
  height: 100%;
  border: 0;
  /* 글자 안 보이게 하는 세 가지 트릭 (padding, position, text-indent) 중 padding 트릭 */
  padding: 18px 0 0 0;
  /* 성능 향상을 위한 sprite 이미지 */
  background: url(./images/back_forward.png) no-repeat 0 0; 
}

.event-button-next {
  background: url(./images/back_forward.png) no-repeat -36px 0;
}

.event-thumbnail, .event-brief {
  margin: 10px 0;
}

.event-thumbnail img {
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #ccc;
}

.event-brief {
  line-height: 1.5;
}

.related {
  margin-top: 10px;
}

.related-list {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 10px;
  height: 27px;
  overflow: hidden;
  /* border-radius: 35px 0 35px 0; */
  /* 자연스럽게 바뀔 속성 지정 */
  /* transition-property: background-color, border-radius;
  transition-duration: 2000ms, 2000ms; */
  /* 시퀀스 애니메이션 */
  /* transition-delay: 0ms, 2000ms;
  transition-timing-function: ease-in-out; */
  /* transition: background-color 2000ms 0ms ease-in-out, border-radius 2000ms 2000ms ease-in-out; */
  transition: height 400ms 0ms, padding 400ms 400ms;
  /* padding: 0; */
}

.related-list li {
  height: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 5px;
}

.related-list a {
  flex-grow: 1;
  padding: 0 10px;
}

.related-list:hover, .related-list:focus {
  /* background-color: #ff0;
  border-radius: 0 35px 0 35px; */
  /* height: auto;로는 애니메이션이 적용되지 않는다. */
  height: 147px;
  border: 1px solid #aaa;
  padding: 10px 0;
}

/* 인기 사이트 */
.favorite {
  position: relative;
}

.favorite-list {
  background-color: yellow;
  /* 스크린 리더가 못 읽음 */
  list-style-type: none;
  /* 스크린 리더가 읽음 */
  /* overflow: hidden; */
}

.favorite-list li {
  margin-top: 10px;
  counter-increment: number;
  background-color: pink;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.favorite-list li::before {
  content: counter(number);
  background-color: #aaa;
  color: #fff;
  padding: 1px 6px;
  font-size: 1.2rem;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
  width: 1.5em;
  text-align: center;
  line-height: 1.5;
}

.favorite-list a {
  background-color: aqua;
  /* flex-grow: 1; */
}

.up, .stop, .down {
  display: inline-block;
  width: 20px;
  height: 11px;
  margin-left: auto;
  background: lime url("./images/rank.png") no-repeat 100% 0;
}

.stop {
  background-position: 100% 50%;
}

.down {
  background-position: 100% 100%;
}

.favorite-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
}

/* 푸터 */
.footer {
  background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}
.footer-inner {
  background: silver;
  height: 15vh;
}